<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>BlockchainGeek.org</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel='stylesheet'
	href='webjars/bootstrap/4.0.0-2/css/bootstrap.min.css' />
<script type='text/javascript'
	src='webjars/bootstrap/4.0.0-2/js/bootstrap.min.js'></script>
<script type='text/javascript' src='webjars/jquery/3.0.0/jquery.min.js'></script>
<link th:href="@{/css/business-frontpage.css}" rel="stylesheet" />
</head>
<body>
	site is under construction
</body>
</html>